<h1>Add New Calf</h1>
<form action="/add-calf" method="POST">
  <label>Calf ID:</label>
  <input type="text" name="calfId" required><br>
  <label>Birth Date:</label>
  <input type="date" name="birthDate" required><br>
  <button type="submit">Add Calf</button>
</form>
