<<!-- views/edit-load.ejs -->
<!DOCTYPE html>
<html>
<head>
  <title>Edit Load</title>
</head>
<body>
  <h1>Edit Load</h1>
  <form method="POST" action="/edit-load/<%= load._id %>">
    <label>Gallons:</label>
    <input type="number" name="gallons" value="<%= load.gallons %>" required><br>

    <label>Start Hour:</label>
    <input type="text" name="startHour" value="<%= load.startHour %>"><br>

    <label>End Hour:</label>
    <input type="text" name="endHour" value="<%= load.endHour %>"><br>

    <button type="submit">Save Changes</button>
  </form>
</body>
</html>